<h1>Editing jamaat</h1> 

<%= form_for(@jamaat) do |f| %>
  <% if @jamaat.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@jamaat.errors.count, "error") %> prohibited this jamaat from being saved:</h2>

      <ul>
      <% @jamaat.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :jamaat_name  %><br />
    <%= f.text_field :jamaat_name, :disabled => 'disabled' %>
  </div>
  <div class="field">
    <%= f.label :size %><br />
    <%= f.number_field :size %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to 'Show', @jamaat %> |
<%= link_to 'Back', jamaats_path %>
