<h1>Listing members of Jamaat <%= @jamaat.jamaat_name%></h1>

<table>
  <tr>
  	<th>Aims ID</th>
    <th>Name</th>
    <th>Email</th>
    <th>Address</th>
    <th>Contact no</th>
    <th>Jamaat</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
  	<td><%= user.AIMS_no %></td>
    <td><%= user.name %></td>
    <td><%= user.email %></td>
    <td><%= user.address_line1 %>, <%= user.address_line2 %> <br/> <%= user.city %><br/> <%= user.postcode %>,  <%= user.country %> </td>
    <td><%= user.contact_no %></td>
    <td><%= link_to user.jamaat_id, j_m_path(user.jamaat_id) %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>