<% if !User.find(:all).empty? %>
<h1>Listing users</h1>

<table>
  <tr>
  	<th>Aims ID</th>
    <th>Name</th>
    <th>Email</th>
    <th>Address</th>
    <th>Contact no</th>
    <th>Jamaat</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>


<% @users.each do |user| %>
  <tr>
  	<td><%= user.AIMS_no %></td>
    <td><%= user.name %></td>
    <td><%= user.email %></td>
    <td><%= user.address_line1 %>, <%= user.address_line2 %> <br/> <%= user.city %><br/> <%= user.postcode %>,  <%= user.country %> </td>
    <td><%= user.contact_no %></td>
    <td><%= link_to user.jamaat_id, jamaat_path(user.jamaat_id) %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<p><%= link_to 'New User', new_user_path %><p>
	


<%else%>
<h4>No members are registered. Click <%= link_to 'here', new_user_path %> to create a user.</h4>

<% end %>

<p><%= link_to 'Back', root_path %></p>

