<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Aims no:</b>
  <%= @user.AIMS_no %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Address:</b> <br/>
  <% if @user.address_line1.empty? && @user.address_line2.empty? &&
  	@user.postcode.empty? && @user.country.empty? && @user.city.empty? %>
  <i>No address provided</i>
  <%else%>
  <%= @user.address_line1 %>, <%= @user.address_line2 %> <br/>
  <%= @user.city %><br/>
  <%= @user.postcode %>,
  <%= @user.country %>
  <%end%>
</p>

<p>
	<b>Jamaat:</b>
	<%= @user.jamaat_id %>
<p>
  <b>Contact no:</b>
  <%= @user.contact_no %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
